@font-face {
    font-family:"raleway";
    src: url("/font/raleway.ttf");
  }


  p{
      font-family:raleway;
      font-weight: 400;
      font-size: 14px;
  }

#header{
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1em;
    
}


#app{
    
   
}

#logo img {
    width: 80px;
}


#main{
    padding: 0;
    
}


#btn-offer{
    
    margin-top: 0.3em;
}

  
/* stylization of stats */


#stats{
    margin-top:10em;
    background-image: url("/img/statis.jpg");   
     height: 30%; 
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(20, 190, 228, 0.8);

}

/* stylization of product list */
#product-list{  
    padding: 10%;
    background-color:rgb(255, 255, 255);  
}

.position{
    display: flex;
    justify-content:space-around; 
}

.card-img-top{
    width: 100%;
}


.cardi{
    width: 18rem;
    background-color: #f7f9ff;
    
}

.card-body{
    text-align: center;
   
}

.card-title{
    color: #3f3f3f;
    
}
.card-text{
    color: #8d8d8d;
}




.nav-item{
    margin-right: 1em;
    color:white;
    font-family: raleway;
    font-weight: 700;
}

span{
    font-family: raleway;
    font-weight: 700;
    color:rgb(20, 190, 228);
}

/* stylisation of slider */

#slider, .slider-wrapper{
    position: relative;
    height: 100%;
}
.slider-wrapper{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img{

        width: inherit;
    }
    
    /* resizing flat icon of stats */
    
 

    .stats-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-stats {
        text-align: center;
       
        
    }

    /* stylization of icons and text icons */

    .content-stats span {
        color:white;
    }
    
    div .couleur{
        color: #ffffff;
    }

/* stylisation de bouton */
.btn-primary{
    background-color:#f49772;
    border-color: #f49772;
    font-family: raleway;
    font-weight: 700;

}
.btn-primary:hover{
    background-color:rgb(20, 190, 228);
    border-color: rgb(20, 190, 228);
}
.btn-primary:focus{
    background-color:rgba(255, 255, 255);
    border-color:rgba(255, 255, 255);
    color: gray;
    border: none;
}
.btn-primary:active{
    background-color:#f49772;
    border-color: rgba(255, 255, 255);
    color: gray;
}
.btn-primary{
    border: #f49772;
}


/* stylization of testimonials  */

#testimonials {
    background-color:  rgb(20, 190, 228);
}

.fa-quote-left, .blue-text, .font-weight-bold, .change-couleur{
    color: white;
}

p{
    color: white;
}