#header{
    background-color:#141116;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 1em;
    
}


#app{
}

#logo img {
    width: 80px;
}


#main{
    padding: 0;
    
}

#main-menu{
}


#btn-offer{
    
    margin-top: 0.3em;
}
  
#stats{
    background-color: gray;
    padding: 3em;
}







#product-list{
    padding: 10%;
}


#slider, .slider-wrapper{
    position: relative;
    height: 100%;
}


.card{
    width: 18rem;
}
.nav-item{
    margin-right: 1em;
    color:white;
}


.slider-wrapper{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img{

        width: inherit;
    }
    
    /* resizing flat icon of stats */
    
 

    .stats-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-stats{
        text-align: center;
    }